body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input {
    width: 150px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.admin-login {
    position: relative;
    display: inline-block;
}

#login-form {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 5px #ccc;
    display: none;
}

#login-form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

#login-form button {
    display: block;
    margin: 10px auto 0;
}

.hidden {
    display: none;
}

.order-section {
    text-align: center;
    margin-top: 50px;
}

.manager-section {
    text-align: center;
    margin-top: 50px;
}

.admin-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

/* Tab Navigation */
.tab-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab-button {
    padding: 10px 20px;
    background-color: #ddd;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #ccc;
}

.tab-button.active {
    background-color: #007BFF;
    color: #fff;
}

/* Tab Content */
.table-section,
.menu-section {
    display: none;
    padding: 20px;
}

/* new content */
.containerp {
    justify-content: space-between;
    padding: 20px;
}

.menu {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cart {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.cart-items {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

.cart-items .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

